/* Reset some default form styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}
body{
    height: 105vh;
    /* width: auto; */
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Apply some basic styling to the form */
form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style the form wrapper */
.wrapper {
    margin-bottom: 15px;
}

.wrapper > input{
    width: 100%;
}

/* Style the labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style the input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style the Register button */
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Style the "Already registered" section */
h4 {
    margin-bottom: 5px;
}

a[name="sign_in"] {
    color: #007BFF;
    text-decoration: none;
}

a[name="sign_in"]:hover {
    text-decoration: underline;
}
